@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: url(pexels-eva-bronzini-5938608.jpg);
    background-size: contain;
    background-size: 46%;
}
header{
    text-align: center;
    font-size: 23px;
    padding: 20px;
    
}

section{
    background-color: rgba(196, 191, 191, 0);
    width: 43vw;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    
}
p#primeiro{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
p#segundo{
    padding: 5px;
    text-align: center;
}
div#res{
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
p#botao{
    text-align: center;
    padding: 10px;
}
div#foto{
    text-align: center;
   
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
}